<div class="comment" id="comment<%= comment.id %>">
	<% if current_user == comment.user %>
		<div class="delete">
			<%= link_to content_tag(:i, '', :class => 'icon-remove'), comment, :method => :delete, :remote => true %>
		</div>
	<% end %>
	<%= link_to image_tag( comment.user.avatar_thumb_path, :class => 'ava_mini'), comment.user %>
	<p>
		<%= link_to (comment.user.name || comment.user.email), comment.user %>
		<%= comment.content %>
	</p>
</div>