<%= content_for :head do %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css", :id => "theme" %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>

<%= render :partial => 'layouts/upload_js_headers' %>
<% end %>

<div id="fileupload">
  <span id="redirect_path" style="display: none"><%="#{root_path}"%></span>
  <%= form_for @picture, :html => { :multipart => true } do |f| %>
      <br />
      <div class="fileupload-buttonbar">
          <label class="fileinput-button">
              <span>Add files...</span>
                <%= f.file_field :file %>
          </label>
          <button type="submit" class="start">Start upload</button>
          <button type="reset" class="cancel">Cancel upload</button>
          <button type="button" class="delete">Delete files</button>
      </div>
  <% end %>
  <div class="fileupload-content">
      <table class="files"></table>
      <div class="fileupload-progressbar"></div>
  </div>
</div>

<%= render :partial => "template-upload" %>
<%= render :partial => "template-download" %>