<div class="picture" id="<%= picture.id %>">
	<div class="main">
		<%= link_to(picture) do %>
			<%= image_tag(picture.file_url(:thumb)) if picture.file.present? %>
		<% end %>
	</div>
	<div class="comments">
		<%= render picture.comments %>
	</div>
	<%= render :partial => 'comments/form', :locals => {:picture => picture} %>
</div>