<div class="picture" id="<%= picture.id %>">
	<div class="main">
		<%= link_to(picture) do %>
			<%= image_tag(picture.file_url(:thumb)) if picture.file.present? %>
		<% end %>
	</div>
	<div class="comment">
		<%= link_to image_tag( picture.user.avatar_thumb_path, :class => 'ava_mini', :size => '30x30'), picture.user %>
		<p>
			by <%= link_to (picture.user.name || picture.user.email), picture.user %>
		</p>
	</div>
	<div class="comments">
		<%= render picture.comments %>
	</div>
	<%= render :partial => 'comments/form', :locals => {:picture => picture} %>
</div>